@media screen and (min-width: 0px) and (max-width: 925px)
{	
	.navigate { display: none;}
	.jumbotron p { display: none;}
	.jumbotron #get-to { display: none; }
	#get-to a { display: none; }
	.jumbotron h1 { text-align: center; }
}

/* div, ul, h1, span { border: red 1px solid; } */

@font-face { font-family: code; src: url(/fonts/code_font.otf); }

.hide-load { display: none;}

.loader {display: flex; align-items: center; height: 100vh; background-color: #66ceff; background-repeat: no-repeat; z-index: 200; position: fixed; width: 100vw; background-position: center; padding-left: auto; padding-right: auto;}

.loader img { display: block; margin: auto; }

a:link, a:hover, a:visited, a:active { text-decoration: none; }

/*============= NAVBAR ===========*/

.navigate {  background: -webkit-linear-gradient(white, rgba(255,255,255,0.5));
  background: -o-linear-gradient(white, rgba(255,255,255,0.5)); 
  background: -moz-linear-gradient(white, rgba(255,255,255,0.5));
  background: linear-gradient(white, rgba(255,255,255,0.6));	align-items: center; letter-spacing: 1.5px; z-index: 100; position: fixed; width: 100vw;}
								
	.center-pills { min-height: 60px; height: -5vw; text-align: center;	}

	.nav-pills { position: relative; top: 3px; font-size: 24px; display: inline-block; }

	.nav-pills li a	{ padding-left: 25px; padding-right: 25px; font-family: code; }
								
	.nav-pills li a:hover { background-color: rgba(92,198,255,0.5);	}

	.nav-pills li a:active { background-color: rgba(92,198,255,0); }

	.nav-pills li a:visited { background-color: rgba(92,198,255,0);}

	.active { background-color: rgba(92,198,255,0.5); color: #23527c; }



/*============= JUMBOTRON ===========*/

.jumbotron { margin: 0px; background-image: url('/img/background.jpg'); background-size: cover;	background-repeat: no-repeat; background-position: 0% 50%;
			 height: 100vh; min-height: 500px; text-align: center; letter-spacing: 1.3px;}

.jumbotron img { width: 200px; height: 200px; border-radius: 50%; border: 5px white solid; }	

	.vertical-center {	position: relative;	top: -48px;	min-height: 600px; min-height: 100vh; display: flex; align-items: center; }

	#jumbotron-content{ display: inline; padding-top: 60px;}

	.jumbotron #jumbotron-text, #jumbotron-image { display:inline-block; vertical-align: middle; }

	.jumbotron h1 { color: white; font-weight: 500; font-size: 70px; text-align: left; padding: 0; font-family: code; }
								
	.jumbotron p { color: rgba(256,256,256,1); text-align: left; font-size: 35px; 
				text-outline: 2px solid black; max-width: 700px; font-family: code; }


/*============= GET TO KNOW ME ===========*/

#get-to { display: table; width: 218px; height: 75px; border-radius: 12px; border: solid white 5px;	text-align: center;	vertical-align: 
			middle;	margin-left: auto;  margin-right: auto; margin-top: 6vw; background-color: rgba(92,198,255,0.2);letter-spacing: .5px; }

	#get-to:hover{ background-color: rgba(92,198,255,0.6); }

	#get-to p {width: 100%; text-align: center; display: table-cell; vertical-align: middle; font-size: 21px; }

	#get-to a {  padding-top: 25px; padding-bottom: 25px; color: white;	}


/*============= SECTIONS ===========*/

.section { padding: 60px; padding-left: 3vw; padding-right: 3vw; }

	.section h1 { font-size: 60px; text-align: center; font-family: code; color: white; letter-spacing: 1.5px;}

	.section h2{ font-size: 45px; color: white;	padding-bottom: 10px; font-family: code; letter-spacing: 2px;}

	.section p { text-align: left; font-size: 24px; color: white; }

	.section img { width: 100%;	border: 1px white solid; vertical-align: middle; }

	.section a { color: #00d5e6; }
	
	.section a:hover { color: #11edff; }





/*============= BUTTON ===========*/

.button { border-radius: 6px; border: solid white 2px; display: table; margin-left: 0; margin-top: 50px; 
			background-color: rgba(92,198,255,0.2); padding: 8px; }

	.button:hover { background-color: rgba(92,198,255,0.4);	}

	.button > p { display: table-cell; vertical-align: middle; text-align: left; font-size: 18px; }
	
	.button > p > a { color: white; padding-top: 10px; padding-bottom: 10px; } .button > p > a:hover {color: white;}

	.embed-responsive-16by9 { border: 1px white solid; margin-top: 30px; margin-bottom: 30px; }


/*============= ABOUT ===========*/

#about { background-color: #5d7b95; padding-bottom: 60px; }

	#about img { top: 30px; }

	#about .col-md-4 { padding-top: 20px; }



/*============= PROJECTS ===========*/

#projects { background-color: #596279; }

	#projects .col-md-5 {margin-top: 50px; }	

	#projects .col-md-5 > p { font-size: 25px; }

	#projects .text-muted {color: rgba(255,255,255,0.7); letter-spacing: 2px;}

	#projects .note { font-size: 20px; color: rgba(255,255,255,0.7); }



/*============= BLOG ===========*/

#blog {background-color: #5f6f7c; }

	.text {font-family: Ubuntu; font-size: 30px; color: white; letter-spacing: 2px;}
/*============= CONTACT ===========*/

#contact {background-color: rgba(0,0,0,0.7); padding: 10px;}

	#icons {background-color: rgba(0,0,0,0.7);  text-align: center;}

	#icons a {font-size: 20px; font-family: code; color: white; }

	.icon-contain{ display: inline-block; padding: 30px; }

	.icon { height: 80px; width: 80px; border-radius: 15%;}	
	
	#email { background-color: rgba(0,0,0,0.6); font-size: 30px; text-align: center; padding: 0; margin: 0; vertical-align: middle;}

#email p { margin: 0;}
	
	.email > p > a { margin: 0; padding: 5px; color: white;}

	.email > p > a:hover { color: #46a5dd; }

	.email > p > a:visited { color: white; }

	.email > p > a:active { color: white; }


/*============== FOOTER =============*/

footer  { text-align: right; padding-right: 50px; padding-left: 50px; background-color: rgba(0,0,0,0.7); padding-bottom: 10px;}

footer p { color: white; font-size: 18px; font-family: code; padding-top: 10px; vertical-align: middle; letter-spacing: 1.5px;}
